[submodule "go-ethereum"]
	path = go-ethereum
	url = https://github.com/OffchainLabs/go-ethereum.git
[submodule "token-bridge-contracts"]
	path = token-bridge-contracts
	url = https://github.com/OffchainLabs/token-bridge-contracts.git
[submodule "canonical-weth"]
	path = canonical-weth
	url = https://github.com/gnosis/canonical-weth.git
[submodule "upgrade-executor"]
	path = upgrade-executor
	url = https://github.com/OffchainLabs/upgrade-executor.git
[submodule "nitro-contracts"]
	path = nitro-contracts
	url = https://github.com/OffchainLabs/nitro-contracts.git
	branch = develop
