node_modules
.DS_Store
.idea
.vscode
solgen/go/
solgen/abi/aggregateAbi.json
.make/
config.yml

keystore/*

arbNetwork/networks/*
!arbNetwork/networks/arbitrum-one.json
!arbNetwork/networks/arbitrum-sepolia.json
