node_modules
.DS_Store
.idea
.vscode
solgen/go/
solgen/abi/aggregateAbi.json
.make/
config.yml

keystore/accounts/*

contractgen/network/*
!contractgen/network/arbitrum-one.json
!contractgen/network/arbitrum-sepolia.json
